#resetButton{
    -fx-border-color: #314F14;
    -fx-border-radius: 12;
    -fx-background-color: #F5FCEDFF;
    -fx-cursor: hand;
    -fx-background-radius: 12;
}

#drawButton{
    -fx-border-color: #314F14;
    -fx-border-radius: 12;
    -fx-background-color: #F5FCEDFF;
    -fx-cursor: hand;
    -fx-background-radius: 12;
}

#surrenderButton{
    -fx-border-color: #314F14;
    -fx-border-radius: 12;
    -fx-background-color: #F5FCEDFF;
    -fx-cursor: hand;
    -fx-background-radius: 12;
}

#vezDeLabel{
    -fx-text-fill: #2C3126;
}

#boardBG {
    -fx-background-color: #BEC5B6;
}

#boardBGSecond{
    -fx-background-color: #BEC5B6;
}

