.bg-color{
    -fx-background-color: #F5FCED;
}

#playButton{
    -fx-border-radius: 12;
    -fx-background-color: #F5FCEDFF;
    -fx-text-fill: #314F14;
    -fx-cursor: pointer;
    -fx-border-color: #314F14;
}

#playButton:hover{
    -fx-cursor: hand;
    -fx-border-radius: 12;
    -fx-background-color: #314F14;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-border-color: #314F14;
}

#goButton{
    -fx-border-radius: 12;
    -fx-background-color: #F5FCEDFF;
    -fx-text-fill: #314F14;
    -fx-cursor: hand;
    -fx-border-color: #314F14;
}

#goButton:hover{
    -fx-cursor: hand;
    -fx-border-radius: 12;
    -fx-background-color: #314F14;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-border-color: #314F14;
}

.textFields{
    -fx-border-radius: 12;
    -fx-background-color: #F5FCED;
    -fx-border-color: #314F14;
}
.labels{
    -fx-font-weight: bold;
    -fx-text-fill: #314F14;
}





